doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    )
    link(
      rel="stylesheet"
      href="popup.css"
    )
  body
    h1 
      img(src="icons/16x16.png")
      | Score Saber Extension
    section#user-id-section
      h2 Player ID
      .form-row
        input#user-id(
          type="text"
          placeholder="Player ID is empty."
        )
        button#lock-user-id
          i.fas.fa-lock-open
      span#error-user-id.error.hidden Invalid User ID.
    section#ranked-data-section 
      h2 Ranked Map Data
      button#update-ranked-songs
        i.fas.fa-sync
      span Last Update: 
        b#last-update-date 
    script(src="/js/popup.js") 