doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    )
    link(
      rel="stylesheet"
      href="popup.css"
    )
  body
    header
      h1 
        img(src="icons/16x16.png")
        | Score Saber Extension
      nav
        .tab(title="Favorite")
          i.far.fa-heart
        .tab(title="Bookmark")
          i.far.fa-bookmark
        .tab(title="About")
          i.fas.fa-info
        .tab.active(title="Settings")
          i.fas.fa-cog
    main
      include popup/favorite.pug
      include popup/bookmark.pug
      article#About
        h2 About
        section 
          h3 Score Saber
          a(href="https://scoresaber.com" target="_blank") https://scoresaber.com
      include popup/settings.pug
    script(src="/js/popup.js") 